* {
    margin: 0;
    background-color: rgb(30, 30, 30);
    color: limegreen;
    font-family: 'Source Code Pro', monospace;
}

/* start of navbar style */
.nav-container {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid limegreen;
    border-bottom: 1px solid limegreen;
    position: fixed;
    width: 100%;
    top: 0
}

.nav-container h1 {
    box-sizing: border-box;
    margin: 20px 20px;
    font-size: 1em;
}

/* .link {
    color: limegreen
} */

/* end of navbar style */

/* start of home style */
.home-container h1 {
    margin-top: 80px;
    text-align: center;
}

/* end of home style */

/* start of campus style */
.campus-list {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: flex-start;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header-container h1 {
    margin: 80px 0 20px 0;
}

.header-container button {
    width: 140px;
    background-color: limegreen;
    color: rgb(30, 30, 30);
    font-weight: 600;
    font-size: 1.2em;
}

.campus-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.campus-card {
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    border: 1px solid limegreen;
}

.campus-card button {
    margin-bottom: 20px;
    background-color: limegreen;
    color: rgb(30, 30, 30);
    border: none;
    font-weight: 500;
    font-size: 1.1em;
}

.campus-card h1 {
    margin: 20px 40px;
}

.campus-card p {
    margin: 20px 40px;
}

/* end of campus style */

/* start of student style */


.student-list {
    display: flex;
    padding-top: 20px;
}

.student-list>h1 {
    margin: 80px 0 20px 0;
    text-align: center;
}

.student-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.add-container {
    position: fixed;
    z-index: 100;
    margin: 0 20px;
    top: 20%;
    right: 0
}

.student-card {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid limegreen;
}

.student-card button {
    margin: 20px 0;
    background-color: limegreen;
    color: rgb(30, 30, 30);
    border: none;
    font-weight: 500;
    font-size: 1.1em;
}

.student-card h1 {
    margin: 20px 40px;
}

.student-card h3 {
    padding-left: 20px;
    padding-right: 20px;
}

.student-card p {
    margin: 20px 40px;
}

/* end of student style */

.student-side-view-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: limegreen;
    padding: 20px;
    box-shadow: 5px 5px 5px #0f410f;

}

.student-side-view-container form>label {
    background-color: limegreen;
    color: rgb(30, 30, 30);
    font-weight: 600;
    margin: 10px 0;

}






/* start of single student style */
.single-student-title {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.add-container {}

.student-list {
    margin-top: 40px;

    display: flex;
    justify-content: center;
    margin: 0 10%;
}

.single-student-card {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid limegreen;
    padding: 10px 20px;
    margin: 0 25%
}

.single-student-card-header {
    margin-bottom: 10px;
}

/* end of single student style */

/* start of single campus style */
.single-campus-title {
    margin-top: 80px;
    text-align: center;
}

.single-campus-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin: 0 20%;
}

.single-campus-card {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid limegreen;
    padding: 10px 20px;
}


/* end of single campus style */

/* start of campus side view style */

.campus-side-view-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid limegreen;
    margin-left: 25%;
    margin-right: 25%;
}

.campus-side-view-container h1 {}

.campus-side-view-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-right: 10%;
    margin-left: 10%
}


.campus-side-view-container input {
    margin: 10px 10px;
    border: 1px solid limegreen;
    font-size: 1.3em;
}

.campus-side-view-container button {
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    border: none;
    background-color: limegreen;
    color: rgb(30, 30, 30);
    font-size: 1.1em;
    font-weight: 500;
}

.campus-side-view-container button:nth-child(even) {
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    border: none;
    background-color: red;
    color: rgb(30, 30, 30);
    font-size: 1.1em;
    font-weight: 500;

}

/* .campus-side-view-container>button {
    margin: 10px 10px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: limegreen;
    color: rgb(30, 30, 30);
} */

/* end of campus side view style */